.dark-mode {
    /* background-color: #1F2937;  #1f2029 */
    background-color: #141316;
    color: #fff;
}

@media only screen and (max-width: 780px) {
    .width_repo {
        width: 100% !important;
        margin: 0px !important;
    }
    .flex-res {
        justify-content: center !important;
        align-items: end !important;
        flex-direction: column;
    }
    .flex-res ul {
        display: none !important;
    }
    .card_res {
        width: 100% !important;
    }
    .compo_res {
        width: 100% !important;
        padding: 0px !important;
    }
    .mr_res {
        margin-top: 60px !important;
    }
}

.mr_res {
    margin-top: 50px;
}